
.resultsheader		{ background-color:#e5fec5; margin: 0.1em; padding: 0.2em; text-align: right; white-space: nowrap; border-top: 1px solid #6ea635; }
.searchresults ol	{list-style-type: none;margin:0;}
.searchresults ol li {margin:1em;}
.searchresults ol h3 {font-size:medium;}
.searchresults ol p {max-width:42em;margin:0;word-spacing:.3em;}
.searchmatch 		{background-color:#e5fec5}
#ssearchinput		{width:30em;}
